aws_region         = "eu-west-2"
project_name       = "production-eks-platform"
environment        = "dev"
vpc_cidr           = "10.20.0.0/16"
enable_nat_gateway = false

public_subnets = {
  "eu-west-2a" = "10.20.0.0/24"
  "eu-west-2b" = "10.20.1.0/24"
}

private_subnets = {
  "eu-west-2a" = "10.20.10.0/24"
  "eu-west-2b" = "10.20.11.0/24"
}